<ul>
<% @types.each do |type| %>
  <li>
  <%= type.id %>. <%= link_to type.name, type %>
  <%= link_to 'edit', edit_type_path(type) %>
  <%= link_to 'delete', type, :method => :delete, :confirm => "Sure?", :title => "Delete type #{type.name}" %></li>
<% end %>
</ul>

<%= link_to "Create new type", new_type_path %>
