<div id ="user_<%= user.id %>_links">
  <%= link_to "edit", edit_admin_user_path(user) if can? :update, user %>
  <%= link_to "delete", admin_user_path(user), :method => :delete,
    :confirm => "Sure?", :title => "Delete user #{user.nickname}?" if can? :destroy, user %>
  <% if user.role.admin? %>
    <%= link_to "make an user",
      set_role_admin_user_path(id: user.id, role: :user), method: :post,
      remote: true if can? :set_role, user %>
  <% else %>
    <%= link_to "make an admin",
      set_role_admin_user_path(id: user.id, role: :admin), method: :post,
      remote: true if can? :set_role, user %>
  <% end %>
</div>
