<h1> <%= @user.nickname %> </h1>
<% if current_user == @user %>
  <%= link_to "edit", edit_user_registration_path %>
<% end %>

<%= render "links", :user => @user %>

<p> <%= @user.email %> </p>
<% @user.filter_unreadable_advertisements_by(current_user).each do |ads| %>
  <hr>
  <div class="ads-container">
    <%= render 'advertisements/ads_show', :ads => ads %>
  </div>
<% end %>
<hr>
<%= link_to "Create advertisement", new_advertisement_path, :class => 'button' if can? :create, Advertisement %>
