<%= simple_nested_form_for @advertisement do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :user_id, value: @advertisement.user_id %>
  <%= f.association :type %>
  <%= f.input :content, label_html: { id: 'content_label' }, input_html: { rows: 3 } %>
  <%= f.label "Pictures", class: 'input' %>
  <%= f.fields_for :pictures do |pic_form| %>
    <div class="input url">
      <%= pic_form.label "Url", required: true %>
      <%= pic_form.input_field :url %>
      <%= pic_form.error :url %>
      <%= pic_form.link_to_remove 'Delete this picture' %>
    </div>
  <% end %>
  <div class="input">
    <%= f.link_to_add 'Add picture', :pictures %>
  </div>
  <%= f.button :submit %>
<% end %>
